#Ignore most of the folders - to remain empty in the repository.
./Notes
./codes/*.pyc
./codes/*.lprof
./data/*
./INPUT_FILES/*
./OUTPUT_FILES/*
./OUTPUT_FILES/FIGURES/*

#Except blank .gitkeep files, necessary to add empty folders to GitHub.
./data/.gitkeep
./INPUT_FILES/.gitkeep
./OUTPUT_FILES/.gitkeep
./OUTPUT_FILES/FIGURES/.gitkeep
